/*
	Project Info:
		- Project Name: Codee 
    	- Team Members: Mamdoh Zeyad - Ahmed sabagh
		- Subject: Senior Project II 
*/

/* Start Imports*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* End Imports*/

/* Start Root */
:root{
	--darkgreen-color: #313631;
	--blue-color:#0ed4a0;
	--backGroundColor:#F9F9FE;
	--yellow-color: #d3f105;
	--cairo-font-family: 'Cairo', sans-serif;
	--box-shadw: 0px 4px 6px 0px #0c002e0f;
}
/* End Root */

/* Start Global Rules */
*{
	font-family: var(--cairo-font-family);
}
body, html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
/* 
#my_wrpper{
	position: relative;
	min-height:100%;
	background-color: #fbfbfb;
	text-align: center;
}

#my_container{
	margin: 0 auto;
	min-height: 100%;
	width: 100%;
	padding-bottom:  40px;
	font-family: var(--cairo-font-family);
} */
/* End Global Rules */

/* Start Home Page Header */
.my_navbar{
	background-color: var(--darkgreen-color);
	color: white;
}
.my_logo{
	width: 200px;
}
.my_btn1{
	padding: 5px 20px 5px 20px;
	margin-right: 5px;
    margin-left: 5px;
    border: 1px solid var(--blue-color);
    border-radius: 10px;
    box-shadow: 2px 2px 9px var(--blue-color);
	font-weight: bold;
}
.my_btn1:hover{
	background-color: var(--yellow-color);
	box-shadow: 2px 2px 9px var(--yellow-color);
	transition: 1s;
}
.my_btn1 a{
	text-decoration: none;
	color: var(--blue-color);
}
.my_btn1 a:hover{
	text-decoration: none;
	color: var(--blue-color);
}
/* End Home Page Header */

/* Start Home Page  */
.slider-text {
    color: #333;
}

/* .my_sliderBackGround{
	background-color:#434141;
} */

.About{
	background-color:var(--backGroundColor);
}

.space_section{
	margin: 45px;
}

.my_hr{
	color: green;
	width: 150px;
	border: 2px #FC5C7D solid;
}

.my_figure{
	background-color: var(--darkgreen-color);
	color:var(--blue-color);
	font-weight: bold
}

.my_text{
	color: var(--blue-color);
}

.my_IconeColor{
	color: var(--yellow-color);
}

.my_IconeColor2{
color: var(--blue-color);
}

.my_textCardColor{
	color:#260979;
}

.my_numberInsideCard{
	width: 50px; 
	background-color:var(--yellow-color);
	border: 2px var(--yellow-color) solid;
	border-radius: 10px;
	text-align: center;
}

.my_numberInsideCard2{
	width: 50px; 
	background-color:var(--blue-color);
	border: 2px var(--blue-color) solid;
	border-radius: 10px;
	text-align: center;
}

.my_nav :hover{
	
	box-shadow: 2px 2px 9px var(--yellow-color);
	transition: 1s;
}

/* .my_nav a:hover{
	text-decoration: none;
	color: var(--blue-color);
} */

 /* End Home Page  */

/* Start Home Page Footer */
.home_footer{
	position: absolute;
    /* bottom: 0; */
    left: 0;
    right: 0;
    background: var(--darkgreen-color);
    height: auto;
    width: 100%;
    padding-top: 20px;
	text-align: center;
    color: #fff;
}

/* End Home Page Footer */

/* Start Signup Page */
.signup_text_side{
	background-color: var(--darkgreen-color);
	text-align: center;
}
.signup_text_side_logo{
	width: 90%;
}
.my_header_font{
	color: var(--blue-color);
    font-size: xx-large;
    font-weight: 700;
}
.red_star{
	color: red;
}
/* End Singup Page */

/* Start Login Page */
.forget_password_div{
	padding-top: 6px;
}
.forget_password{
	text-decoration: none;
	color: var(--blue-color);
}
.forget_password:hover{
	color: var(--yellow-color);
}
/* End Login Page */
